@using Damacon.ClientWebApp.Models;
@using Damacon.DAL.i18n;
@model ChangePasswordViewModel


<div id="ChangePasswordDialogMainDiv">
    <div class="row form-group mb-3" style="margin:0px 0px 0px -15px">
        <div class="col-md-11">
            <div class="form-group">
                @Html.LabelFor(model => model.CurrentPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control-sm" })
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "field-validation-valid" })
            </div>
        </div>
    </div>
    <div class="row form-group mb-3" style="margin:0px 0px 0px -15px">
        <div class="col-md-11">
            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control-sm" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "field-validation-valid" })
            </div>
        </div>
    </div>
    <div class="row form-group mb-3" style="margin:0px 0px 0px -15px">
        <div class="col-md-11">
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-form-label" })
                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control-sm" })
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "field-validation-valid" })
            </div>
        </div>
    </div>
    <div class="row form-group" style="margin:0px">
        <div class="col-md-11">
            <div class="form-group text-center">
                <button type="button" class="k-button k-primary UpdatePassword" style="margin-top: 5px;">&nbsp;&nbsp;-&nbsp;&nbsp;@Html.Raw(Resources.Update)&nbsp;&nbsp;-&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var kendoWindow = $("#ChangePasswordDialogMainDiv").closest("[data-role=window]").data("kendoWindow");

    $('.UpdatePassword').click(function (e) {
        var validator = $("#ChangePasswordDialogMainDiv").kendoValidator().data("kendoValidator");
        if (validator.validate()) {

            $.ajax({
                url: 'UpdatePassword',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    changePasswordViewModel: {
                        CurrentPassword: $('#CurrentPassword').val(), NewPassword: $('#NewPassword').val(), ConfirmNewPassword: $('#ConfirmNewPassword').val()
                    }
                }),
                success: function (result) {
                    if (result.IsSuccess) {
                        alert("@Html.Raw(Resources.M_PasswordUpdatedSuccessfully)");
                        kendoWindow.close();
                    }
                    else {
                        alert(result.ErrorMessage);
                    }
                },
                error: function (e) {
                    alert(e);
                },
            });

        }
    });
</script>
